<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>ec.florian.launchbar.active-url-firefox</string>
	<key>CFBundleName</key>
	<string>Active URL in Firefox</string>
	<key>LBAbbreviation</key>
	<string>afirefox</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string></string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Active URL in Firefox</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14.0</string>
</dict>
</plist>
